
footer{
    width: 100%;
    background-color: black;
    color:white;
    position: relative;
}
.footer-list{
    display: grid;
    place-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
}
.footer-list li{
    font-family: "Anta", cursive;
    text-decoration: none;
    list-style: none;
    color: rgb(227, 232, 236);
    margin-bottom: 10px;
}

.footer-react{
    color: aqua;
}
.footer-spring{
    color: rgb(55, 199, 42);
}
.footer-autor{
    color: rgb(8, 238, 207);
    text-decoration: none;
    transition: color 0.3s ease;
    animation: cambioColor 5s infinite;
    font-size: 20px;
}

@keyframes cambioColor {
    0% {
        color: aqua;
    }
    50% {
        color: rgb(236, 202, 6);
    }
    75% {
        color: rgb(28, 100, 255);
    }
    100% {
        color: aqua
    }
}
@media only screen and (max-width:412px) {

    .footer-list{
        padding: 10px;
        margin: 0 10px;
    }
    .footer-list li{
        margin-bottom: 10px;
        font-size: 14px;
    }

    .footer-autor{
        font-size: 15px;
    }
}